.logo-img {
    margin-right: 10px;
}

.seo-description {
    text-align: left;

}

.seo-description-content {
    color: #b2b2b2;
    line-height: 1.2em;
    padding-top: 2em;
    margin-bottom: 1em
}

.seo-description-content h2 {
    color: #b2b2b2
}

.seo-description-content p {
    font-size: 1em;
    padding-bottom: .75em;
    line-height: 1.25em
}

.seo-description-content.box-hide {
    overflow: hidden;
    max-height: 13em;
    position: relative
}

.seo-description-content.box-hide:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3em;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%)
}

.converted-text {
    font: 30px Trebuchet MS, Arial, Helvetica, Sans-Serif;
    padding-top: 20px;
}